<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <itemManager>
      <patch:attribute name="defaultProvider" value="sitecore.support.207511"/>
      <providers>
        <add name="sitecore.support.207511" type="Sitecore.Support.Data.Managers.ItemProvider, Sitecore.Support.207511" />
      </providers>
    </itemManager>
  </sitecore>
</configuration>